#privacyPolicy{
    margin-bottom: 20px;
}
#privacyPolicy h4{
    height: 40px;
}
#privacyScroll{
    width: 850px;
    height: 100px;    
    overflow-x: hidden;
    overflow-y: scroll;
    border:1px solid grey;
    font-size: 14px;
}
#consentCheck{
    width: 850px;
    height: 40px;
    right: 0px;
    text-align: right;
    padding-top: 13px;
}
#consentCheck> label{
    padding-left: 20px;
    font-size: 14px;
}
#consentCheck input {
    margin-right: 5px;
}