*{
    margin:0;padding: 0;
}
ul,li{
    list-style: none;
    padding: 5px;
     margin:5px;
}
body{
    background-color: #000;
    color:#fff;
}
a{
    text-decoration: none;
}
.Comp{
    border:3px solid blue
}
